img/compress.sh
img/non-compressé/bowser.jpg
img/non-compressé/image1.jpg
img/non-compressé/image2.jpg
img/non-compressé/image3.png
img/non-compressé/logo.png
img/non-compressé/media.jpg
img/non-compressé/peach.jpg
img/non-compressé/roibobomb.jpg
img/non-compressé/tableau.jpg
img/non-compressé/tuile.png
